html {
  overflow-x: hidden;
  font-family: sans-serif;
}
canvas {
  display: block;
}

label {
  display: flex;
  gap: 5px;
  vertical-align: middle;
}

.value-display {
  width: 26px;
}

button {
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
}

#buttonrow {
  display: flex;
  gap: 10px;
}

.grow {
  flex-grow: 1;
}

#help {
  position: relative;
  font-size: 22px;
  color: rgb(255 255 255);
  background: linear-gradient(145deg, #fb7f00, #ff5200);
  box-shadow: 0 0px 12px #fd6c00bf;
  padding: 6px 12px;
  text-align: center;
  font-weight: 700;
  z-index: 10;
}

#settings {
  position: relative;
  color: rgb(36, 36, 36);
  background-color: rgb(255 255 255);
  border-bottom: #cacaca solid;
  padding: 6px 12px;
}

@media only screen and (min-width: 700px) {
  #help {
    position: fixed;
    font-size: 22px;
    border-bottom-right-radius: 10px;
  }

  #settings {
    position: fixed;
    padding: 6px 12px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #ffffff8c;
    border-bottom-left-radius: 10px;
  }
}
